.container {
    display: flex;
    align-items: stretch;
    align-items: center;
    background-color: #f0f0f0;
    padding: 200px;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container li {
    margin: 0 10px;
}

.container li a{
    text-decoration: none;
    color: #333333;
    text-decoration: bold;
}